@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Libre+Baskerville&family=Poppins:wght@300;400;700&family=Roboto:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Caveat', cursive;
font-family: 'Libre Baskerville', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */
